:root {
	--color-1: #2f3240;
	--logo-1: #ffffff;
	--nab-activ-1: #f3a93d;
}

/* Dark Scren */
.dark-light {
	--color-1: #fdc93a;
	--logo-1: #1e53e7;
	--nab-activ-1: #ff2121;
}

/* Dark Scren */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.s;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	width: min(100% - 20px, 1200px);
	margin-inline: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}


.align-items-center {
	align-items: center;
}

.justify-content-between {
	justify-content: space-between;
}

/* loader */
.doc-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: #fff;
}

.doc-loader td {
	text-align: center;
	vertical-align: middle;
}

.doc-loader img {
	width: 160px;
	height: 160px;
}


/*header*/
.header {
	background-color: var(--color-1);
	padding: 12px 0;
	line-height: 1.5;
	z-index: 999;
}

.header .logo,
.header .nav {
	padding: 0 15px;
	text-align: center;
}

.header .logo a {
	font-size: 30px;
	color: var(--logo-1);
	text-transform: capitalize;
}

.header .nav ul li {
	display: inline-block;
	margin-left: 40px;
}

.header .nav ul li a {
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: var(--logo-1);
	padding: 10px 0;
	transition: all 0.5s ease;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
	color: var(--nab-activ-1);
}

.nav-toggler {
	height: 34px;
	width: 44px;
	background-color: var(--logo-1);
	border-radius: 4px;
	cursor: pointer;
	border: none;
	display: none;
	margin-right: 15px;
}

.nav-toggler:focus {
	outline: none;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.nav-toggler span {
	height: 2px;
	width: 20px;
	background-color: var(--color-1);
	display: block;
	margin: auto;
	position: relative;
	transition: all 0.3s ease;
}

.nav-toggler.active span {
	background-color: transparent;
}

.nav-toggler span::before,
.nav-toggler span::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}

.nav-toggler span::before {
	transform: translateY(-6px);
}

.nav-toggler.active span::before {
	transform: rotate(45deg);
}

.nav-toggler span::after {
	transform: translateY(6px);
}

.nav-toggler.active span::after {
	transform: rotate(135deg);
}


/* sticky */
.sticky {
	width: 100%;
	position: fixed;
	animation: stickyclass 1s ease-in-out;
}

@keyframes stickyclass {
	0% {
		top: -200px;
	}

	100% {
		top: 0;
	}
}

/* sticky */

/* Hover Card */
.card-hover {
	transition: 0.5s;
}

/* Hover Card */

/* Progresh bar */
.toplinght {
	background-image: linear-gradient(to left, rgb(246, 94, 94), rgb(195, 195, 101), rgb(79, 79, 79));
	border-radius: 20px;
	/* width:5px; */
	bottom: 0;
	position: fixed;
	height: 5px;
}

/* Progresh bar*/

/* Cursor */
.cursor {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 11000;
	width: 10px;
	height: 10px;
	opacity: 1;
	left: -5px;
	top: -5px;
	border-radius: 50%;
	background-image: linear-gradient(red, yellow);
	background-size: cover;
	pointer-events: none;
	-webkit-transition: -webkit-transform .1s;
	transition: -webkit-transform .1s;
	-o-transition: transform .1s;
	transition: transform .1s;
	transition: transform .1s, -webkit-transform .1s;
}

/* Cursor */

/* dark mode */
.togal-dark {
	position: fixed;
	top: 200px;
}

/* dark mode */

/* data-reveal */
[data-reveal] {
	opacity: 0;
	transition: 0.9s ease;
}

[data-reveal="top"] {
	transform: translateY(-90px);
}

[data-reveal="bottom"] {
	transform: translateY(30px);
}

[data-reveal="left"] {
	transform: translateX(-30px);
}

[data-reveal="top-right"] {
	transform: translate(300px, -200px);
}

[data-reveal="top-left"] {
	transform: translate(-300px, -200px);
}

[data-reveal="bottom-left"] {
	transform: translate(-300px, 200px);
}

[data-reveal="bottom-right"] {
	transform: translate(300px, 200px);
}

[data-reveal="rotate-y"] {
	transform: rotateY(180deg);
}

[data-reveal="rotate-x"] {
	transform: rotateX(90deg);
}

[data-reveal="rotate-z-right"] {
	transform: rotateZ(90deg);
}

[data-reveal="rotate-z-right-zomm"] {
	transform: rotateZ(90deg) scale(1.5);
}

[data-reveal="rotate-z-left"] {
	transform: rotateZ(-90deg);
}

[data-reveal="rotate-y-left"] {
	transform: rotateY(90deg);
}

[data-reveal="scale_zoom_in"] {
	transform: scale(1.5);
}

[data-reveal="scale_zoom_out"] {
	transform: scale(0.5);
}

[data-reveal="scale_zoom_out_right"] {
	transform: scale(1.5) translateX(200px);
}

[data-reveal="sdsad"] {
	transform: scale(1.5) translateX(-200px);
}

[data-reveal="sdsdsfdsfad"] {
	transform: scale(0.5) translateX(-200px);
}

[data-reveal="zoom-in-down"] {
	transform: scale(0.5) translateY(-150px);
}

[data-reveal="zoom_in"] {
	transform: scale(0.5) translateY(150px);
}

[data-reveal="right"] {
	transform: translateX(30px);
}

[data-reveal].revealed {
	transform: translate(0);
	opacity: 1;
}

[data-opacity] {
	opacity: 0;
	transition: 2s ease-in;
}

[data-opacity].Portano {
	opacity: 1;
	/* animation: wobble 1s ease-in; */
	/* animation: bounce 2s ease-in; */
	/* animation: hover-skew-wobble 1s ease-in-out 1; */
	/* animation: rubberBand 3s ease-in; */
	animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	/* animation: hover-wobble-vertical 3s ease-in-out; */
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-50px);
	}

	60% {
		transform: translateY(-60px);
	}
}

@keyframes wobble {
	0% {
		transform: translateX(0%);
	}

	15% {
		transform: translateX(-25%) rotate(-5deg);
	}

	30% {
		transform: translateX(20%) rotate(3deg);
	}

	45% {
		transform: translateX(-15%) rotate(-3deg);
	}

	60% {
		transform: translateX(10%) rotate(2deg);
	}

	75% {
		transform: translateX(-5%) rotate(-1deg);
	}

	100% {
		transform: translateX(0%);
	}
}

@keyframes rubberBand {
	0% {
		transform: scale(1);
	}

	30% {
		transform: scaleX(1.25) scaleY(0.75);
	}

	40% {
		transform: scaleX(0.75) scaleY(1.25);
	}

	60% {
		transform: scaleX(1.15) scaleY(0.85);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes hover-skew-wobble {
	15% {
		transform: skew(-12deg);
	}

	30% {
		transform: skew(10deg);
	}

	50% {
		transform: skew(-6deg);
	}

	65% {
		transform: skew(4deg);
	}

	80% {
		transform: skew(-2deg);
	}

	100% {
		transform: skew(0);
	}
}

@keyframes hover-wobble-vertical {
	20% {
		transform: translateY(8px);
	}

	40% {
		transform: translateY(-6px);
	}

	60% {
		transform: translateY(4px);
	}

	80% {
		transform: translateY(-2px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes scale-in-ver-center {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		opacity: 1;
	}

	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
	}
}

/* data-reveal */


@media(max-width:991px) {
	.nav-toggler {
		display: block;
	}

	.header .nav {
		width: 100%;
		padding: 0;
		max-height: 0px;
		overflow: hidden;
		visibility: hidden;
		transition: all 0.5s ease;
	}

	.header .nav.open {
		visibility: visible;
	}

	.header .nav ul {
		padding: 12px 15px 0;
		margin-top: 12px;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}

	.header .nav ul li {
		display: block;
		margin: 0;
	}
}

/* DELET */
.section-1 {
	width: 100%;
	height: 100vh;
	background-color: #2f324412;
	color: var(--nab-activ-1);
	padding: 100px;
}

.section-2 {
	width: 100%;
	color: var(--logo-1);
	height: 100vh;
	background-color: #2f3240;
	padding: 100px;
}

.section-3 {
	color: var(--logo-1);
	width: 100%;
	height: 100vh;
	background-color: #6f3240;
	padding: 100px;
}


/* DELET */

/* IMP */
.imp-flex {
	flex: 1 1 25em;
}

.html {
	scroll-snap-type: y mandatory;
}

.img-mix-blend-mode {
	mix-blend-mode: multiply;
}

.photos img {
	width: 15%;
	aspect-ratio: 3/2;
	object-fit: contain;
	mix-blend-mode: color-burn;
}

.imp-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
	margin: 20px 10px;
}

/* IMP */